/*media for 1200 pixels*/
@media only screen and (max-width: 1200px) {
  .dates {
    width: 60%;
  }
  .content {
    width: 40%;
  }
}

/*media for 1000 pixels*/
@media only screen and (max-width: 1000px) {
  /*Description*/
  .description div {
    width: 80%;
  }
  .description div:first-child {
    padding: 0 !important;
    text-align: center;
  }

  /*Timeline*/
  .timeline {
    display: inline-block;
  }
  .dates,
  .content {
    width: 80%;
    margin: 1% auto;
  }

  .image {
    padding: 0;
  }
}

/*media for 900 pixels*/
@media only screen and (max-width: 900px) {
  /*Headings*/
  .image-heading {
    height: 30rem;
  }
  /*section desciptions*/
  .description {
    display: inline-block;
  }
  .description div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
  }
  /*form*/
  button {
    font-size: 0.8rem;
  }
}

/*media for 600 pixels*/
@media only screen and (max-width: 600px) {
  .dates > p {
    font-size: 1.5rem;
  }
  figcaption {
    font-size: 1.3rem;
  }
  /*navbar and footer*/
  .navbar ul,
  footer ul {
    display: block;
    margin-top: -2rem;
  }
  .navbar li,
  footer ul {
    margin: 5px;
    text-align: center;
    justify-content: center;
  }
  /*headings*/
  .page-header {
    font-size: 2rem;
  }
  .image-heading {
    height: auto;
  }
  /*section description*/
  .description {
    display: inline-block;
  }
  .description div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  /*form*/
  button {
    font-size: 0.6rem;
  }
}

/*media for 450 pixels*/
@media only screen and (max-width: 450px) {
  /*Headings*/
  .page-header {
    font-size: 1rem;
  }
  /*form*/
  button {
    font-size: 0.4rem;
  }
}
