/*media queries greater than 2000 pixels*/
@media only screen and (min-width: 2000px) {
  /*navbar and footer*/
  .navbar-title {
    font-size: 4rem;
  }
  .navbar a,
  footer a {
    font-size: 30px;
  }
  footer img {
    width: 3rem;
  }
  /*headings*/
  .page-header {
    font-size: 6rem;
  }
  .section_heading {
    font-size: 4rem;
  }
  .timeline-heading {
    font-size: 3rem;
  }
  /*description section*/
  .description div {
    font-size: 2.5rem;
  }
  .description image {
    width: 20%;
  }
  .description .content {
    margin-top: -20px;
    width: 80%;
  }

  /*Timeline*/
  .dates > p {
    font-size: 2.5rem;
  }
  .dates {
    width: 60%;
  }
  .content {
    width: 40%;
    margin-top: 5%;
  }
  figcaption {
    font-size: 3rem;
  }
  /*Youtube videos*/
  iframe {
    height: 40rem;
  }
  /*form*/
  legend {
    font-size: 2rem;
  }
  label {
    font-size: 2rem;
  }
  input {
    height: 40px;
    font-size: 1.5rem;
  }
  button {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  /*Timeline*/
  .content {
    margin: 10% 0;
  }
  /*Youtube videos*/
  .videos {
    margin-top: -10%;
  }
  iframe {
    height: 30rem;
  }
}

@media only screen and (max-width: 1200px) {
  /*Timeline*/
  .dates {
    width: 60%;
  }
  .content {
    width: 40%;
  }
  .content figure {
    margin: 20% 0;
  }
  /*description section*/
  .description {
    display: block;
  }
  .description div {
    width: 100%;
    font-size: 2rem;
  }
  .description .content {
    margin-top: -20px;
    width: 100%;
  }
  /*Youtube videos*/
  iframe {
    height: 20rem;
    margin-bottom: 10rem;
  }
}

/*media for 1000 pixels*/
@media only screen and (max-width: 1000px) {
  /*Description*/
  .description div {
    width: 80%;
  }
  .description div:first-child {
    padding: 0 !important;
    text-align: center;
  }

  /*Timeline*/
  .timeline {
    display: inline-block;
  }
  .dates,
  .content {
    width: 80%;
    margin: 1% auto;
  }

  .image {
    padding: 0;
  }
}

/*media for 900 pixels*/
@media only screen and (max-width: 900px) {
  body {
    min-height: 100vh;
  }
  /*Headings*/
  .image-heading {
    height: 30rem;
  }
  .timeline-heading {
    font-size: 2rem;
  }
  /*Descriptions*/
  .description {
    display: inline-block;
  }
  .description div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
  }
  /*form*/
  button {
    width: 30%;
    height: 30%;
    font-size: 1.2rem;
  }
}

/*media for 600 pixels*/
@media only screen and (max-width: 600px) {
  /*Text that is displayed within the timeline and below images*/
  .dates > p {
    font-size: 1.5rem;
  }
  figcaption {
    font-size: 1.3rem;
  }
  /*navbar and footer*/
  .navbar ul,
  footer ul {
    display: block;
    margin-top: -2rem;
  }
  .navbar li,
  footer ul {
    margin: 5px;
    text-align: center;
    justify-content: center;
  }
  /*headings*/
  .page-header {
    font-size: 2rem;
  }
  .image-heading {
    height: auto;
  }
  /*section description*/
  .description {
    display: inline-block;
  }
  .description div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  /*form*/
  button {
    font-size: 0.6rem;
  }
}

/*media for 450 pixels*/
@media only screen and (max-width: 450px) {
  /*Headings*/
  .page-header {
    font-size: 1.8rem;
  }
  /*navbar and footer*/
  .navbar-title {
    font-size: 1.8rem;
  }
  /*Description section*/
  .description div {
    font-size: 1.2rem;
  }
  /*Section heading*/
  .page-header {
    font-size: 2rem;
  }
  .section_heading {
    font-size: 1.6rem;
  }
  .timeline-heading {
    font-size: 1.2rem;
  }
  /*Youtube videos*/
  iframe {
    height: 10rem;
    margin-bottom: 1rem;
  }
  /*form*/
  legend {
    font-size: 1rem;
  }
  label {
    font-size: 0.8rem;
  }
  input {
    height: 20px;
    font-size: 0.8rem;
  }
  button {
    font-size: 1rem;
  }
}
