/*Styling for the body element*/
body {
  margin-top: 0;
  padding: 1rem;
  background: transparent
    url("../images/general/istockphoto-515842039-170667a.webp") repeat;
}

/*navbar & footer*/
.navbar,
footer {
  background-color: #d6b65e;
}
.navbar ul,
footer ul {
  display: flex;
  padding: 1rem;
}
.navbar li,
footer ul {
  list-style-type: none;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}
.navbar a,
footer a {
  text-decoration: none;
  font-size: 20px;
  color: #795d10;
}

/*Heading*/
.page-header {
  text-align: center;
  font-size: 3rem;
  font-family: "Lumanosimo", cursive, "Delicious Handrawn";
  width: 100%;
}
.image-heading {
  width: 100%;
  height: 40rem;
}
.section_heading {
  text-align: center;
  font-size: 3rem;
}

/*Description of the varies topics*/
.description {
  display: flex;
}
.description p,
.subtext[class="subtext"] {
  width: 75%;
  height: auto;
  padding: 1rem 3rem;
  text-align: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: "Delicious Handrawn", "Lumanosimo", cursive;
}
.description img {
  width: 100%;
  height: auto;
}

/*Timeline display*/
.years {
  display: flex;
}
.years p,
figcaption {
  font-size: 2.1rem;
  font-family: "Delicious Handrawn", "Lumanosimo", cursive;
}
.years figure {
  width: 25%;
  height: auto;
}
figure > img {
  width: 20rem;
}

/*footer*/
footer img {
  border-radius: 50%;
  width: 2rem;
}
