/*css styling of the body element*/
body {
  margin: 0;
}

/*navbar*/
.navbar {
  overflow: auto;
  background-color: #d6b65e;
}

.navbar li {
  list-style-type: none;
  margin: 0 25%;
  text-align: center;
  justify-content: space-between;
}

.navbar a {
  float: left;
  padding-bottom: 12px;
  color: #795d10;
  text-decoration: none;
  font-size: 20px;
  width: 25%;
}

/*page header*/
.page-header {
  text-align: center;
  font-size: 3rem;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Lumanosimo", cursive;
}
