body {
  margin-top: 0;
  padding: 1rem;
}

.navbar {
  background-color: #d6b65e;
}

.navbar ul {
  display: flex;
  padding: 1rem;
}

.navbar li {
  list-style-type: none;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: #795d10;
}

.page-header {
  text-align: center;
  font-size: 3rem;
  font-family: "Lumanosimo", cursive, "Delicious Handrawn";
  width: 100%;
}

.image-heading {
  width: 100%;
  height: 40rem;
}

.up-arrow {
  position: fixed;
  right: 0;
  margin: 3rem;
}

.up-arrow button {
  background-color: transparent;
  border: none !important;
  font-size: x-large;
}

.up-arrow svg {
  color: rgb(40, 90, 40);
}

.omnibus_description {
  display: flex;
}

.omnibus_description p {
  width: 75%;
  height: auto;
  padding: 1rem 3rem;
  text-align: center;
  justify-content: center;
}

.omnibus_description img {
  width: 25%;
  height: auto;
}

.years_omnibus {
  display: flex;
}

.years_omnibus p {
  font-size: 1.2rem;
}

.years_omnibus figure {
  width: 25%;
  height: auto;
}

figure > img {
  width: 20rem;
}
